h1 {
    margin: 0px auto;
    background-color: lightblue;
    max-width: max-content;
}

p {
    border: 10px solid green;
    padding: 25px 50px 25px 50px;
    background-color: lightyellow;
}